#top {
    
    height: 200px;
    background-image: linear-gradient(45deg,
            hsl(240deg 100% 20%) 0%,
            hsl(289deg 100% 21%) 11%,
            hsl(315deg 100% 27%) 22%,
            hsl(329deg 100% 36%) 33%,
            hsl(337deg 100% 43%) 44%,
            hsl(357deg 91% 59%) 56%,
            hsl(17deg 100% 59%) 67%,
            hsl(34deg 100% 53%) 78%,
            hsl(45deg 100% 50%) 89%,
            hsl(55deg 100% 50%) 100%);
    background-size: 100% 200px;
    background-repeat: no-repeat;
   
}

body {
    background-color: black;
}

input {

    border: none;
    display: block;
    margin: auto;
    max-width: 75%;
    position: relative;
    text-align: center;
    
    color: aliceblue;
    text-align: center;
    font-size: 90px;
    border: none;
    background: none;
    /* padding-top: 5%;? */


}





table {
    /* border-collapse: collapse;
    border-spacing: 50px 50px; */
    margin-top: 20%;
    width: 100%;
    margin-left: 10%;

}

td,
tr {

    text-align: justify;
    font-size: 50px;
    color: aliceblue;
    padding: 20px;

}